.banner {
    background-color: var(--morkebrun);
    font-family: var(--overskrift);
   color: var(--lysbeige);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 2rem 0;
   font-size: 30px;
}

.banner-knap {
      background-color: var(--lysebrun);
      color: var(--totalmork);
      padding: 1rem 2rem;
      font-size: 20px;
      font-family: var(--broed);
      box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
      text-decoration: none;
}