.introtekst h1{
    font-family: var(--overskrift);
}

.toptekst{
    margin-bottom: 2rem;
    font-size: 20px;
}
.tidtekst{
    font-size: 20px;
    margin-bottom: 1rem;
}

.introtekst{
    color: var(--totalmork);
    margin: 1rem;
}
.introtekst a{
    color: var(--totalmork);
    font-size: 20px;
}


.cat{
    width: 90%;
    background-color: var(--lysbeige);
    border-radius: 10px;
    max-height: 20rem;
    transition: all 0.5s ease;
}
.cat.open{
    max-height: 100rem;
}
.cattext{
    font-family: var(--broed);
    padding: 20px 20px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;
    margin-bottom: 3rem;
}
.cat.open .cattext{
    display: block;    
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}

.julefrokost{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 2rem 0;
    position: relative;
    overflow: visible;
    width: 25rem;
}
.julefrokost button{
    bottom: 1rem;
}

.julefrokost h1{
    text-align: center;
    background-color: var(--morkebrun);
    color: var(--lysbeige);
    border-radius: 10px 10px 0 0;
    padding: 1rem 0;
    font-family: var(--overskrift);
}


.book{
    position: absolute;
    border: none;
    background-color: var(--blaa);
    width: 60%;
    height: 3rem;
    color: var(--lysbeige);
    font-family: var(--broed);
    font-weight: 600;
    font-size: 24px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    right: 8px;
}
.book a{
    text-decoration: none;
}

.informationsbokse{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}