.burger{
    background-color: none;
    background: none;
    border: none;
    font-style: none;
    font-size: 35px;
    color: var(--lysbeige);
    position: relative;
    z-index: 1000;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--morkebrun);
    transform: translateY(-100%);
    transition: transform 1.5s ease; /* <-- important */
}
.mobile-menu.open {
  animation: slideDown 0.5s forwards;
}

.mobile-menu.closing {
  animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: xx-large;
    margin-top: 2rem;
}
.mobile-menu li{
    margin-bottom: 4rem;
}

@media (max-width: 800px){
    .desktop-nav{
        display: none;
    }
}