
/*Burgermenu knappen*/
.burger{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background:none;
    border: none;
    padding:0%;
    z-index: 999;
    margin-bottom: 10px;
}

.burger span{
    width: 2rem;
    height: 0.25rem;
    background-color: var(--lysbeige);
    border-radius: 2px;
    transition: 0.5s ease;
    transform-origin: center;
}

/*Burgermenu animation*/
.burger.open span:nth-child(1) {
  transform: translateY(13px) rotate(-45deg);
}
/*Fjerner stregen i midten, men roterer de to andre*/
.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-15px) rotate(45deg);
}

/* Styling af selve burgermenuens toppunkter */

.menu{
    position: fixed;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 998;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    left: 0;
    background-color:rgb(138, 102, 83, 0.95);
    align-items: center;
    top:-100vh;
    transition: 0.8s ease;
    overflow-y: auto;
}


.menu.open{
    top: 0;

}

.menuitem a{
    text-decoration: none;
}

.logoheader{
    display: flex;
    width: 15rem;
    height: auto;
    margin-top: 3rem;
}

.menu li{
    text-align: center;
    margin-top: 4rem;
    font-size: 35px;
    list-style: none;
}

/*Undermenu tingene*/

.submenu{
    transition: 1s ease;
    border-radius: 10px;
    width: 90vw;
    height: fit-content;
    align-content: center;
}

.submenu.open{
    background-color:  var(--totalmork);
    padding: 1.5rem 0;
}



.submenuitem li{
    font-size: 25px;
    position: inherit;
    display: block;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s ease;
    width: 90vw;
    border-radius: 10px;
    margin-top: -2rem;
    font-family: var(--broed);
    pointer-events: none;
    text-decoration: none;

}

.submenuitem.open li{
    opacity: 1;
    transform: translateY(-10%);
    position: inherit;
    margin-top: 3.5rem;
    pointer-events: all;
    
}

.submenuitemb{
    margin-bottom: -2rem;
}

.submenuitemb li{
    font-size: 25px;
    position: inherit;
    display: block;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s ease;
    width: 90vw;
    border-radius: 10px;
    margin-top: -1.5rem;
    font-family: var(--broed);
    pointer-events: none;
    text-decoration: none;

}

.submenuitemb.open li{
    opacity: 1;
    transform: translateY(-10%);
    position: inherit;
    margin-top: 3.5rem;
    pointer-events: all;
    
}
