.burger{
    background-color: none;
    background: none;
    border: none;
    font-style: none;
    font-size: xx-large;
    color: var(--lysbeige);
    position: relative;
    z-index: 1000;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--morkebrun);
}
.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
   

}

@media (max-width: 800px){
    .desktop-nav{
        display: none;
    }
}