
/* Mobile adjustments */
@media (max-width: 800px) {
  .show {
    display: flex;
    gap: 5px;
    align-items: center;
    background: var(--lysbeige);
    padding: 2px 2px 10px 2px;
    border-radius: 5px;
    min-width: 340px;
    min-height: 18rem;
    margin: 18px 18px 45px 18px;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow: visible;
    box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .event-dato {
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--lysbeige);
  color: var(--totalmork);
  padding: 8px 5px;
  width: 68px;
  height: 82px;
}
  .event-tid {
  position: absolute;
  top: 95px;
  left: -8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lysbeige);
  color: var(--totalmork);
  padding: 8px 5px;
  width: 68px;
  height: 14px;
}
  .event-pris {
  position: absolute;
  top: 165px;
  right: -8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lysbeige);
  color: var(--totalmork);
  padding: 8px 5px;
  width: 68px;
  height: 14px;
}

.event-koeb {
  position: absolute;
  top: 70%;
  right: -8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blaa);
  color: var(--lysbeige);
  padding: 8px 5px;
  width: 122px;
  height: 35px;
  font-family: var(--broed);
  font-style:italic;
  text-decoration: none;
  font-size: 20px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

}

.dato-weekday {
  font-size: 12px;
  margin-bottom: 6px;
}

.dato-day {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: var(--blaa);
}

.dato-month {
  font-size: 12px;
  opacity: 0.95;
  margin-top: 6px;
  text-transform: capitalize;
}

.event-img {
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.event-titel {
   font-family: var(--overskrift);
   font-size: 20px;
   margin-left: 5px;
   color: var(--totalmork);
}


.event-kort-beskrivelse {
  font-family: var(--broed);
  font-size: 14px;
  margin-left: 5px;
  color: var(--morketext);
  max-width: 60%;
}
