

.billede{
    width: 100vw;
    height: 17rem;
    background-color: var(--blaa);
    overflow: hidden;
}

.billede img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titel{
    width: 100%;
    background-color: var(--morkebrun);
    color: var(--lysbeige);
    display: flex;
    justify-content: center;
    font-family: var(--overskrift);
    font-weight: 500;
    padding: 2rem 0;
    position: relative;
    z-index: 100;
}
.info{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    
}

.info p{
    background-color: var(--lysbeige);
    text-align: center;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: inset -3px 3px 4px rgba(0, 0, 0, 0.25);
}

.knappen{
    border: none;
    background-color: var(--blaa);
    width: 60%;
    height: 3rem;
    color: var(--lysbeige);
    font-family: var(--broed);
    font-weight: 600;
    font-size: 24px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.knappen a{
    text-decoration: none;
}
.sidimidten{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

/*Text styling*/
.beskrivelse{
    width: 90%;
    white-space: pre-line;
    color: var(--totalmork);
    font-family: var(--broed);
    font-size: 16px;
    margin: 1rem;
}


.stemningsbillede{
    width: 90%;
    margin: 1rem;
}


/*Komiker styling*/

.komikeroverskrift{
    font-family: var(--overskrift);
    color: var(--totalmork);
    text-align: center;
    margin: 2rem 0;
    font-size: 48px;
}