footer {
  background-color: var(--morkebrun);
  color: var(--lysbeige);
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links img {
  width: 5rem;
}

a img {
  width: 10rem;
}

a {
  color: var(--lysbeige);
}

.footer-navigering {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
