.forside-overskrift {
  font-family: var(--overskrift);
  font-size: 36px;
  color: var(--totalmork);
  text-align: center;
  margin: 2rem 0;
}

.forside-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.img-overlay {
  position: relative;
  margin: 1.25rem 0;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.overlay-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.60);
  color: var(--lysbeige);
  font-family: var(--broed);
  height: 100%;
  text-align: center;
  padding: 0 2rem;
}

h1{
  font-family: var(--overskrift);
}

.forside-se-events {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   text-decoration: none;
   
}

.forside-se-events b{
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--blaa);
   color: var(--lysbeige);
   padding: 8px 5px;
   width: 199px;
   height: 35px;
   font-family: var(--broed);
   font-style:italic;
   font-size: 20px;
      box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}


.overlay-btn {
   display: flex;
   align-items: center;
   justify-content: center;
  background-color: var(--blaa);
  color: var(--lysbeige);
   padding: 8px 5px;
   width: 199px;
   height: 35px;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
}

@media (max-width: 720px) {
  .img-overlay .overlay {
    align-items: center;
    justify-content: center;
  }
  .img-overlay .overlay-box {
    flex-direction: column;
    width: calc(100% - 24px);
  }
}
