@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --lysbeige: #fff8f4;
    --lysebrun: #e7d6cc;
    --morkebrun: #8a6653;
    --totalmork: #522d18;
    --blaa: #92c1ea;
    
    --broed: "Montserrat", sans-serif;
    --overskrift: "Fugaz One", sans-serif;

}

body{
    background-color: var(--lysebrun);
    font-family: var(--broed);
}