.header{
    display: flex;
    justify-content: space-between;
    align-items:end;
    background-color: var(--morkebrun);
    color: var(--lysbeige);
    font-family: var(--overskrift);
    font-size: 20px;
    height: 104px;
    padding: 2px 1rem;
}

.header img{
    width: 40px;
}
