.header{
    display: flex;
    justify-content: space-between;
    align-items:end;
    background-color: var(--morkebrun);
    color: var(--lysbeige);
    font-family: var(--overskrift);
    height: 4rem;
    padding: 2px 1rem;
}