.karrusel {
  position: relative;
}

.karrusel-slide {
  width: 100%;
  height: 352px;
  object-fit: cover;
  display: block;
}

.karrusel-arrow {
  position: absolute;
  top: 83.5%;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: var(--lysbeige);
  font-size: 50px;
  width: 48px;
  height: 48px;
  z-index: 30;
}

.karrusel-arrow.left {
  left: 10px;
}
.karrusel-arrow.right {
  right: 10px;
}

.banner {
  background-color: var(--morkebrun);
  font-family: var(--overskrift);
  color: var(--lysbeige);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  position: relative;
  z-index: 30; 
}

.banner h1{
  margin-bottom: 1rem;
}

.banner-knap {
  background-color: var(--lysebrun);
  color: var(--totalmork);
  padding: 1rem 2rem;
  font-size: 20px;
  font-family: var(--broed);
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  min-width: 150px;
}

.banner-tekst{
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 800px) {
.karrusel-arrow.left {
  left: 30%;
}
.karrusel-arrow.right {
  right: 30%;
}
}