
/* Mobile adjustments */
@media (max-width: 800px) {
  .komiker {
    display: flex;
    gap: 5px;
    align-items: center;
    background: var(--lysbeige);
    padding: 2px;
    border-radius: 5px;
    max-width: 340px;
    min-height: 18rem;
    margin: 18px 18px 45px 18px;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow: visible;
    box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.25);
  }

.komiker-img {
  width: auto;
  height: 10rem;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}
.komiker-social a{
  display: flex;
  height: 35px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 1rem;
}

.komiker-social{
  display: flex;
}


.komiker-blaa{
  position: absolute;
  top: 60%;
  right: -8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}

.komiker-titel {
   font-family: var(--overskrift);
   font-size: 20px;
   margin-left: 5px;
   color: var(--totalmork);
}

.komiker-book {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blaa);
  color: var(--lysbeige);
  padding: 8px 5px;
  width: 96px;
  height: 35px;
  font-family: var(--broed);
  font-style:italic;
  text-decoration: none;
  font-size: 20px;
}

.komiker-beskrivelse {
  font-family: var(--broed);
  font-size: 14px;
  margin-left: 5px;
  color: var(--morketext);
  max-width: 60%;
}

}