.opretEvent h1{
    background-color: var(--morkebrun);
    color: var(--lysbeige);
    border-radius: 10px 10px 0 0;
    padding: 1rem 0;
    font-family: var(--overskrift);
}
.opretEvent{
    color: var(--totalmork);
    width: 90vw;
    background-color: var(--lysbeige);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 2rem;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
}

.opretEvent input{
    border-radius: 10px;
    border: 2px solid var(--morkebrun);
    height: 3rem;
    margin: 1rem;
    font-size: 20px;
    padding: 0.25rem 1rem;
}
.opretEvent textarea{
    border-radius: 10px;
    border: 2px solid var(--morkebrun);
    height: 3rem;
    margin: 1rem;
    font-size: 20px;
    padding: 0.25rem 1rem;
}

textarea {
  min-height: 3rem;      /* startstørrelse */
  max-height: 15rem;     /* maks hvor meget den kan vokse */
  overflow-y: auto;      /* viser scroll hvis indhold overstiger max-height */
  resize: none;          /* optional: forhindrer manuel resizing */
  white-space: pre-line;
}