@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lysbeige: #fff8f4;
    --lysebrun: #e7d6cc;
    --mørkebrun: #9d8070;
    --totalmørk: #522d18;
    --blå: #92c1ea;
    
    --overskrift: "Montserrat", sans-serif;
    --broed: "Fugaz One", sans-serif;

}